@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
header{
    background-color: #B66562;
    color:white;
    text-align: center;
    padding:1px 0 2% 0;
}
h1{
    margin-bottom:2px;
}
header a{
    text-decoration: none;
    color:white;
    margin-top:0%;
    padding:2px; 
}
body{
    margin:0 ;
    background-image:url("images/stardust.png");    
    font-family: 'Roboto Slab', serif;
}
#midsection{
    background-color: white;
    margin: 0 30% 0 30%;
    padding:0 1% 2% 1% ;
    
}
.items{
    border:1px solid violet;
    margin-top:6px; 
    
}
img{
    height:13.9%;
    float: left;    
    width:18%;
}
h3{
    margin-bottom: 0%;
}
h2{
    text-align: center;
    color:#91B8AB;
    padding:5% 0 0 0;
}
h3 a{
    color:#91B8AB;
}
#y{
    padding-left: 20%;
    margin: -3px;
    padding-bottom:0; 
}
#y h3{
    color:#91B8AB;
}
#cpy{
    text-align:center;
    color:lightgrey;
    padding:1%;

}